*{
    margin: 0;
    padding: 0;
}

body{
width: 100%;
height: 100%;
font-family:sans-serif ;
letter-spacing: normal;
line-height:1.6 ;
}


/*fondo de la pagina*/
.fondoDeColor{
background-color:#262626;
}

/*titulo de la pagina*/
.titulos_principales li{
text-align: center;
color: rgb(133, 149, 161);

}

/* menu principal*/
.navegacion{  
 text-align:start;
display: inline;
}

.navegacion li a{
  color:rgb(133, 149, 161);
}

.menu li{
    display: inline-block;
    position: relative;
    font-size: 20px;
    padding: 20px 20px;
}

.menu li a{
    text-decoration: none;
}

.submenu{
    display: none;
    position: absolute;
}

.submenu li{
    display:block;
    background-color:#262626;
}

.menu li:hover ul{
    display:block;
}
/*fin de menu principal*/


.enviosGratis li{
  background-color: aqua;
text-align:center;

}
/*imagen principal*/
.bannerPrincipal .banner_corona{

  overflow: hidden;
  max-width: 100%;  
  }
/*cardsss*/

 .grid-container .card{
width: 250px;
height: 270px;
border-radius:  8px ;  
box-shadow:0 2px 2px rgba(255, 255, 255, 0.966) ;
overflow: hidden;
margin: 20px;
text-align: center;
transition: all 0.25s;
}
 
  .grid-container{
display: grid;
grid-template-columns: auto auto auto;
 }

 .grid-container .card:hover{
transition: all;

 }

 


/*footer(redes sosciales, etc)*/


.footer li {
display:inline-block;
position:relative;
font-size: 20px;
margin: 20px 20px;
padding: 10px 10px;
background-color:rgb(133, 149, 161) ;
}

.footer li a{
text-decoration: none;
color: #262626;
}         
 
.anuncioDeNoscuidamos .anuncio_cuidamos{
  width: 1080px;
  height: 270px;
  overflow: hidden;
  margin-top: 200px;
}

/*productos proximamente*/
.proximamente li{
 margin-left: 150px;

}

@media (min-width:768px){

.grid-container{
flex-direction:column;

}

.fondoDeColor{
background-color: aliceblue;


}
}

@media(min-width:768px){
.banner_corona li{
width: 100% ;
}


}




